body{
    /* background-color: yellow; */
}

form {
    background-color: red;
}

span {
    font-size: 44px;
    font-weight: bold;
}


.three {
    color: royalblue;
}
.two {
    color: green;
}

.one {
    color: red;
}